.table_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}


.rdt_TableRow {
    margin: 5px 0px;
    border-radius: 6px;
    border: 1px solid lightgray;
    text-transform: capitalize;

}

.rdt_TableCell {
    color: darkslategray;
}

.rdt_TableCol_Sortable {
    font-size: 13px;
    text-transform: uppercase;
    color: darkslategray;
    font-weight: bold;
}

.rdt_TableHeadRow {
    border-radius: 5px;
    border: 1px solid lightgray;
}

.outer-box{
    background-color: rgb(255, 255, 255);
    color: rgba(0, 0, 0, 0.87);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
    overflow: hidden;
    padding: 3px;
}